:root {
    --primary: #247ba0;
    --secondary: #0d1830;
    --bright: #68edc6;
    --light: #f6f4f5;
    --black: #040810;
    --gray: #6f6d74;
    --white: #fff;
    --gray-light: #dad2d8;
    --text-color: var(--secondary);
    --light-icon: var(--light);
    --dark-icon: var(--black);
    --gap--lg: 100px;
    --gap: 80px;
    --anchor-color: var(--primary);
}

.box {
    display: flex;
    align-items: left;
    gap: 1rem;
    margin: 1rem;
    flex-wrap: wrap;
}

.card {
    display: flex;
    border-radius: 0.5rem;
    background-color: var(--light)
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image-wrapper {
    width: 50%;
    height: 300px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: .5rem 0 0 .5rem;
}

.card-content,
.card-text {
    padding: 8px;
}

@media (max-width: 30rem) {
    .card {
        flex-wrap: wrap;
    }
    .image-wrapper {
        width: 100%;
        height: auto;
        border-radius: .5rem;
    }
}