.card {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.card:nth-child(odd) .card-screenshot {
    order: 1;
}

@media (max-width: 30rem) {
    .portfolio {
        flex-direction: column;
    }
    .portfolio-screenshot {
        order: 1;
    }
}