:root {
    --primary: #1B264F;
    --secondary: #3e58b6;
    --bright: #bbf2d8;
    --active: #83E8BA;
    --light: #bdeed7;
    --black: #333333;
    --gray: #484848;
    --white: #fff;
    --cream: #eaeaea;
    --gray-light: #767676;
    --text-color: var(--black);
    --light-icon: var(--light);
    --dark-icon: var(--primary);
    --gap--lg: 100px;
    --gap: 80px;
    --gap--sm: 40px;
    --anchor-color: var(--black);
}

.box {
    display: flex;
    align-items: left;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    display: flex;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px var(--gray-light);
}

.btn-content {
    padding: 2rem 0 0 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image-wrapper {
    width: 50%;
    height: auto;
    flex-shrink: 0;
    overflow: hidden;
    /* border-radius: .4rem 0 0 .4rem; */
}

.card-content,
.card-text {
    padding: 2rem;
}

@media (max-width: 30rem) {
    .card {
        flex-wrap: wrap;
    }
    .image-wrapper {
        width: 100%;
        height: auto;
        /* border-radius: .4rem .4rem 0 0; */
    }
    .card-content {
        padding-left: 0;
    }
}