.nav {
    justify-content: space-between;
    align-items: center;
    padding-block: 16px;
    display: flex;
}

.nav-container {
    max-width: 960px;
    margin-inline: auto;
    padding-inline: 20px;
}

.nav-links {
    gap: 10px;
    padding-left: 0;
    list-style: none;
    display: flex;
}

@media (max-width: 37.5rem) {
    .nav-links li {
        display: none;
    }
    .nav-links li:last-child {
        display: initial;
    }
}